<div style="display: flex; flex-flow: row">
  <div class="item">
    <div class="status-wrapper">
      <div class="status-label">Mempooler status :</div>
      <div
        class="status"
        [ngClass]="{ success: !needLogin, warning: needLogin }"
      >
        {{ needLogin ? 'Not logged' : 'Logged' }}
      </div>
    </div>
    <p *ngIf="needLogin" style="flex: 1 1 100%">
      To use Mempooler desktop app, you need to login. Go on Mempooler, generate
      an authorization link and paste it below
    </p>
    <div style="flex: 1 1 100%" *ngIf="loadingMempooler">loading ...</div>
    <div class="reset-status" *ngIf="!loadingMempooler && !needLogin">
      <button (click)="logout()">Logout</button>
    </div>
    <div
      style="flex: 1 1 100%; align-self: flex-end; margin-top: 0.5em"
      *ngIf="!loadingMempooler && needLogin"
    >
      <input
        style="width: 100%; box-sizing: border-box"
        placeholder="Authorization link"
        [(ngModel)]="authorizationUrl"
      />
      <button (click)="login()">Login</button>
      <p *ngIf="loginError">{{ loginError }}</p>
    </div>
  </div>

  <div class="item">
    <div class="status-wrapper">
      <div class="status-label">API key status :</div>
      <div
        class="status"
        [ngClass]="{ success: !needApiKey, warning: needApiKey }"
      >
        {{ needApiKey ? 'Not set' : 'Set' }}
      </div>
    </div>
    <p *ngIf="needApiKey" style="flex: 1 1 100%">
      Mempooler needs to have access to your node to make the API calls in your
      place. Paste the API key below
    </p>
    <div class="reset-status" *ngIf="!needApiKey">
      <button (click)="clearApiKey()">Clear API Key</button>
    </div>
    <div
      *ngIf="needApiKey"
      style="flex: 1 1 100%; align-self: flex-end; margin-top: 0.5em"
    >
      <input
        style="width: 100%; box-sizing: border-box"
        placeholder="API key"
        [(ngModel)]="apiKey"
      />
      <button (click)="setApiKey()">Set API Key</button>
      <p *ngIf="apiKeyError">{{ apiKeyError }}</p>
    </div>
  </div>

  <div class="item">
    <div class="status-wrapper">
      <div class="status-label">Wallet status :</div>
      <div
        class="status"
        [ngClass]="{ success: !needWalletId, warning: needWalletId }"
      >
        {{ needWalletId ? 'Not selected' : 'Selected' }}
      </div>
    </div>
    <p *ngIf="needWalletId" style="flex: 1 1 100%">
      You need to select the wallet you want Mempooler to use
    </p>
    <div class="reset-status" *ngIf="!needWalletId">
      <button (click)="clearWalletId()">Clear wallet ID</button>
    </div>
    <div
      *ngIf="needWalletId"
      style="flex: 1 1 100%; align-self: flex-end; margin-top: 0.5em"
    >
      <select style="width: 100%" [(ngModel)]="walletId">
        <option *ngFor="let w of wallets" [value]="w">{{ w }}</option>
      </select>
      <button style="" (click)="setWalletId()">Set Wallet ID</button>
    </div>
  </div>
</div>
