<div style="display: flex; flex-flow: row">
  <div class="item">
    <div class="status-wrapper">
      <div class="status-label">Mempooler status :</div>
      <div
        class="status"
        [ngClass]="{ success: !needLogin, warning: needLogin }"
      >
        {{ needLogin ? 'Not logged' : 'Logged' }}
      </div>
    </div>
    <p *ngIf="needLogin" style="flex: 1 1 100%">
      To use Mempooler desktop app, you need to login. Go on Mempooler, generate
      an authorization link and paste it below
    </p>
    <div style="flex: 1 1 100%" *ngIf="loadingMempooler">loading ...</div>
    <div class="reset-status" *ngIf="!loadingMempooler && !needLogin">
      <button (click)="logout()">Logout</button>
    </div>
    <div
      style="flex: 1 1 100%; align-self: flex-end; margin-top: 0.5em"
      *ngIf="!loadingMempooler && needLogin"
    >
      <input
        style="width: 100%; box-sizing: border-box"
        placeholder="Authorization link"
        [(ngModel)]="authorizationUrl"
      />
      <button (click)="login()">Login</button>
      <p *ngIf="loginError">{{ loginError }}</p>
    </div>
  </div>

  <div class="item">
    <div class="status-wrapper">
      <div class="status-label">Wallet API key status :</div>
      <div
        class="status"
        [ngClass]="{ success: !needWalletApiKey, warning: needWalletApiKey }"
      >
        {{ needWalletApiKey ? 'Not set' : 'Set' }}
      </div>
    </div>
    <p *ngIf="needWalletApiKey" style="flex: 1 1 100%">
      Mempooler needs to have access to your wallet to make the API calls in
      your place.
    </p>
    <div class="reset-status" *ngIf="!needWalletApiKey">
      <button (click)="clearWalletApiKey()">Clear API Key</button>
    </div>
    <div
      *ngIf="needWalletApiKey"
      style="flex: 1 1 100%; align-self: flex-end; margin-top: 0.5em"
    >
      <input
        style="width: 100%; box-sizing: border-box"
        placeholder="API key"
        [(ngModel)]="walletApiKey"
      />
      <button (click)="setWalletApiKey()">Set API Key</button>
      <p *ngIf="walletApiKeyError">{{ walletApiKeyError }}</p>
    </div>
  </div>

  <div class="item">
    <div class="status-wrapper">
      <div class="status-label">Wallet status :</div>
      <div
        class="status"
        [ngClass]="{ success: !needWalletId, warning: needWalletId }"
      >
        {{ needWalletId ? 'Not selected' : 'Selected' }}
      </div>
    </div>
    <p *ngIf="needWalletId" style="flex: 1 1 100%">
      You need to select the wallet you want Mempooler to use
    </p>
    <div class="reset-status" *ngIf="!needWalletId">
      <button (click)="clearWalletId()">Clear wallet ID</button>
    </div>
    <div
      *ngIf="needWalletId"
      style="flex: 1 1 100%; align-self: flex-end; margin-top: 0.5em"
    >
      <select style="width: 100%" [(ngModel)]="walletId">
        <option *ngFor="let w of wallets" [value]="w">{{ w }}</option>
      </select>
      <button style="" (click)="setWalletId()">Set Wallet ID</button>
    </div>
  </div>

  <div class="item">
    <div class="status-wrapper">
      <div class="status-label">Node API key status :</div>
      <div
        class="status"
        [ngClass]="{ success: !needNodeApiKey, warning: needNodeApiKey }"
      >
        {{ needNodeApiKey ? 'Not set' : 'Set' }}
      </div>
    </div>
    <p *ngIf="needNodeApiKey" style="flex: 1 1 100%">
      Mempooler needs to have access to your node to make the API calls in your
      place.
    </p>
    <div class="reset-status" *ngIf="!needNodeApiKey">
      <button (click)="clearNodeApiKey()">Clear API Key</button>
    </div>
    <div
      *ngIf="needNodeApiKey"
      style="flex: 1 1 100%; align-self: flex-end; margin-top: 0.5em"
    >
      <input
        style="width: 100%; box-sizing: border-box"
        placeholder="API key"
        [(ngModel)]="nodeApiKey"
      />
      <button (click)="setNodeApiKey()">Set API Key</button>
      <p *ngIf="nodeApiKeyError">{{ nodeApiKeyError }}</p>
    </div>
  </div>
</div>
