<div>
  <div>
    <button (click)="goToHome()">Back to home</button>
  </div>
  <h1>Add a BID</h1>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <div>
          <label>Passphrase</label>
          <input
            type="password"
            formControlName="passphrase"
            placeholder="passphrase"
          />
        </div>
        <div *ngIf="f.height.errors">
          <div *ngIf="f.height.errors.required">Cannot be empty</div>
        </div>
      </div>
      <div>
        <div>
          <label>Height</label>
          <input type="number" formControlName="height" placeholder="height" />
        </div>
        <div *ngIf="f.height.errors">
          <div *ngIf="f.height.errors.required">Cannot be empty</div>
        </div>
      </div>
      <div>
        <div>
          <label>Name</label>
          <input formControlName="name" placeholder="name" />
        </div>
        <div *ngIf="f.name.errors">
          <div *ngIf="f.name.errors.required">Cannot be empty</div>
        </div>
      </div>
      <div>
        <div>
          <label>Bid</label>
          <input type="number" formControlName="bid" placeholder="Bid amount" />
        </div>
        <div *ngIf="f.bid.errors">
          <div *ngIf="f.bid.errors.required">Cannot be empty</div>
        </div>
      </div>
      <div>
        <div>
          <label>Blind</label>
          <input
            type="number"
            formControlName="blind"
            placeholder="Blind amount"
          />
        </div>
        <div *ngIf="f.blind.errors">
          <div *ngIf="f.blind.errors.required">Cannot be empty</div>
        </div>
      </div>
      <div>
        <span>{{ f.bid.value + f.blind.value }} lockup</span>
      </div>
      <button [disabled]="form.invalid || loading">Create</button>
    </form>
  </div>
</div>
