<app-loader *ngIf="loading"></app-loader>
<div>
  <div>
    <button (click)="goToHome()">Back to home</button>
  </div>
  <h1>Schedule a BID</h1>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="form-field-wrapper">
          <div class="form-field">
            <label>Passphrase</label>
            <input
              type="password"
              formControlName="passphrase"
              placeholder="passphrase"
            />
            <div class="form-field-errors" *ngIf="f.height.errors">
              <div *ngIf="f.height.errors.required">Cannot be empty</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-field-wrapper">
          <div class="form-field">
            <label>Name</label>
            <input formControlName="name" placeholder="name" />
            <div class="form-field-errors" *ngIf="f.name.errors">
              <div *ngIf="f.name.errors.required">Cannot be empty</div>
            </div>
          </div>
        </div>
        <div class="form-field-wrapper">
          <div class="form-field">
            <label>Height</label>
            <input
              type="number"
              formControlName="height"
              placeholder="height"
            />
            <div class="form-field-errors" *ngIf="f.height.errors">
              <div *ngIf="f.height.errors.required">Cannot be empty</div>
            </div>
          </div>
        </div>
        <div class="form-field-wrapper">
          <div class="form-field">
            <label>Max height</label>
            <input [value]="lastHeight" disabled />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-field-wrapper">
          <div class="form-field">
            <label>Bid</label>
            <input
              type="number"
              formControlName="bid"
              placeholder="Bid amount"
            />
            <div class="form-field-errors" *ngIf="f.bid.errors">
              <div *ngIf="f.bid.errors.required">Cannot be empty</div>
            </div>
          </div>
        </div>
        <div class="form-field-wrapper">
          <div class="form-field">
            <label>Blind</label>
            <input
              type="number"
              formControlName="blind"
              placeholder="Blind amount"
            />
            <div class="form-field-errors" *ngIf="f.blind.errors">
              <div *ngIf="f.blind.errors.required">Cannot be empty</div>
            </div>
          </div>
        </div>
        <div class="form-field-wrapper">
          <div class="form-field">
            <label>Lockup</label>
            <input
              type="number"
              [value]="(f.bid.value || 0) + (f.blind.value || 0)"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="canAutoReveal">
        <div class="form-field-wrapper">
          <div class="form-field">
            <label>Auto reveal</label>
            <input type="checkbox" formControlName="withReveal" />
          </div>
        </div>
        <div class="form-field-wrapper" *ngIf="f.withReveal.value">
          <div class="form-field">
            <label>Reveal after</label>
            <input
              type="number"
              formControlName="revealDelay"
              placeholder="X blocks"
            />
            <div class="form-field-errors" *ngIf="f.withReveal.errors">
              <div *ngIf="f.withReveal.errors.required">Cannot be empty</div>
              <div *ngIf="f.withReveal.errors.min">Should be at least 0</div>
            </div>
          </div>
        </div>
        <div class="form-field-wrapper" *ngIf="f.withReveal.value">
          <div class="form-field">
            <label>Reveal height</label>
            <input
              [value]="
                lastHeight && f.revealDelay.value >= 0
                  ? lastHeight + 1 + f.revealDelay.value
                  : ''
              "
              disabled
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-button-wrapper">
          <button [disabled]="form.invalid || loading">Schedule Bid</button>
        </div>
      </div>
    </form>
  </div>
</div>
