/* You can add global styles to this file, and also import other style files */
.success {
  background-color: darkolivegreen;
}
.text-successful {
  color: #3bdc3b;
}

.warning {
  background-color: crimson;
}
.text-error {
  color: #e61f28;
}

html {
  background: #222;
  color: #fff8dc;
  display: flex;
  height: 100%;
  body {
    display: flex;
    flex: 1 1 100%;
    margin: 0;
  }
}

button {
  background: #373737;
  color: cornsilk;
  border: #797979 solid 0.2em;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
}

input,
textarea,
select {
  border: none;
  padding: 0.5em;
  border-radius: 0.5em;
  background: #373737;
  color: cornsilk;
  font-family: 'Tahoma';

  &:disabled {
    cursor: not-allowed;
  }
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.hidden {
  display: none;
}
